.black-bg {
  background-color: #1B1B1E;
  font-family: 'Poppins', sans-serif;
}

.m-0 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-flex-sml {
  display: flex;
}

.d-flex-ll {
  display: none;
}

.just-cont-spa-btw {
  justify-content: space-between;
}

.col-white {
  color: white;
}

.just-cont-end {
  justify-content: flex-end;
}

.just-cont-sp-btw {
  justify-content: space-between;
}

.mr-5 {
  margin-right: 18px;
}

.mt-5 {
  margin-top: 20px;
}

.ml-2 {
  margin-left: 2px;
}

.mb-10 {
  margin-bottom: 10px;
}

.far{
  font-weight: 1;
}

.fas{
  font-weight: 100;
}

.title {
  font-weight: 400;
  font-size: 25px;
}

.w-90 {
  width: 90%;
}

.max-w {
  max-width: 600px;
}

.m-auto {
  margin: auto;
}

.tech-box {
  background: rgba(0, 0, 0.1);
  font-weight: 400;
  font-size: 12px;
}

.pad-2 {
  padding: 5px;
}

.image-box {
  width: 100%;
  height: auto;
}

.pad-5 {
  padding: 5%;
}

.col-red {
  color: #DB4747;
}

.no-decor {
  text-decoration: none;
}

.no-decor:hover {
  text-decoration: underline;
}

.pos-sticky {
  position: sticky;
  top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.d-flex-lgg {
  display: none;
}

@media only screen and (min-width: 768px) { 
  .d-flex-sml {
    display: none;
  }

  .d-flex-lg {
    display: flex;
  }
  .pad-5 {
    padding: 20px;
  }

  .w-70 {
    width: 65%;
  }

  .w-30 {
    width: 35%;
  }

  .ml-30-lg {
    margin-left: 30px;
  }

  .d-flex-lgg {
    display: flex;
    margin-top: 40px;
  }

  .mr-3 {
    margin-right: 8px;
  }

  .low-opac {
    opacity: 0.7;
  }

  .image-box {
    max-height: 552px;
    min-height: 350px;
  }

  .title {
    font-size: 60px;
  }

  .tech-box {
    font-size: 20px;
  }

  .col-red {
    font-size: 20px;
  }

  .d-flex-ll {
    display: flex;
  }
}
