.black-bg {
  background-color: #1B1B1E;
  font-family: 'Poppins', sans-serif;
}

.container-1 {
  min-width: 280px;
  padding: 14px;
}

.col-white{
  color: #FFFFFF;
}

.number-1{
  opacity: 0.2;
  font-weight: 200;
  font-size: 50px;
}

.font-normal {
  font-style: normal;
}

.description {
  font-size: 12px;
  line-height: 18px;
}

.m-0 {
  margin: 0;
}

.name-container {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
}

.d-flex-sm {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.col-red {
  color: #DB4747;
}

.work-line {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 40px;
}

.half-hr {
  width: 70px;
  height: 0px;
  border: 1px solid #FFFFFF;
  margin: 20px 0;
}

.fab {
  font-size: 25px;
}

.bg-pic-1 {
  min-width: 306px;
  background: url(./images/co-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.bg-pic-2 {
  min-width: 306px;
  background: url(./images/tc-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.bg-pic-3 {
  min-width: 306px;
  background: url(./images/ss-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.bg-pic-4 {
  min-width: 306px;
  background: url(./images/nw-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.bg-pic-5 {
  min-width: 306px;
  background: url(./images/tnw-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.lin-bg {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 45%, #000000 100%);
  height: 100%;
  padding: 4% 0 4% 6%;
}

.project-title {
  font-weight: 200;
  font-size: 20px;
  line-height: 80%;
}

.mt-30 {
  margin-top: 30px;
}

.tech-box {
  background: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
}

.pad-2 {
  padding: 3px;
}

.mt-5 {
  margin-top: 20px;
}

.w-80 {
  width: 90%;
}

.see-proj {
  display: flex;
  align-items: center;
  background-color: #DB4747;
  width: fit-content;
  padding: 6px;
  margin-top: 48px;
}

.ml-1 {
  margin-left: 8px;
}

.no-decor {
  text-decoration: none;
}

.pr-5 {
  padding-right: 5px;
}

.grid-item {  
  background: #212123;
  box-shadow: 0px 1.91837px 23.0204px rgba(0, 0, 0, 0.25);
  border-radius: 3.83673px;
  width: 70%;
  margin: 0 auto 30px auto;
  padding: 8%;
}

.col-green {
  color: #7bff00;
}

.col-blue {
  color: #3586ff;
}

.col-yellow {
  color: #fcff35;
}

.col-red {
  color: #cc1818;
}

.green-back {
  background: rgba(111, 238, 38, 0.244);
}

.blue-back {
  background: rgba(12, 80, 228, 0.244);
}

.yellow-back {
  background: rgba(206, 176, 8, 0.244);
}

.red-back {
  background: rgba(250, 26, 10, 0.244);
}

.back {
  width: fit-content;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas {
  font-weight: 300;
}

.type {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.lang {
  display: flex;
  padding: 5px 0;
  align-items: center;
  font-size: 18px;
}

.mr-3 {
  margin-right: 5px;
}

.col-gray {
  color: #7D7C84;
}

.gray-back {
  background: #212123;
  margin-top: 80px;
  padding: 6%;
}

input {
  background: inherit;
  border: none;
  color: white;
  font-size: 20px;
  opacity: 0.4;
}

input:active {
  border: none;
}

.input-pad {
  padding: 5px 16px;
  font-size: 10px;
  opacity: 0.8;
}

.h-50 {
  height: 112px;
  width: 90%;
  border: none;
}

.btn {
  height: 44px;
  background: #DB4747;
  border: none;
  width: 100%;
  font-weight: bold;
  border-radius: 3px;
}


.mt-90 {
  margin-top: 90px;
}

.mt-90 hr{
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(180deg);
}

.ml-2 {
  margin-left: 5px;
}

.mt-15 {
 margin-top: 20px;
}

.font-bold {
  font-weight: bold;
}